.spinner {
  text-align: center;
}

.list-container {
  width: 50%;
  display: flex;
}

ul {
  border: 3px solid gray;
  padding: 30px 30px;
  margin: 0 auto;
}

li {
  list-style: square;
}

.fats {
  list-style: circle;
  margin-left: 10px;
}
