<h1>Ingredient Nutrition Analyzer</h1>
<div class="container">
  <div class="row input">
    <div class="col-xs-12">
      <form>
        <div>
          <label for="search">Enter Ingredients</label>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" />
        </div>
        <button class="btn btn-danger" type="button">Delete</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-8">
        <button class="btn btn-success" type="button">Add</button>
      </div>
    </div>
  </div>
  <div class="analyze">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" type="button">Analyze</button>
        <button class="btn btn-danger reset-btn" type="button">Reset</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="total-fat"></p>
      <p class="saturated"></p>
      <p class="trans"></p>
      <p class="sodium"></p>
    </div>
  </div>
</div>
