<app-header></app-header>
<app-ingredient-input></app-ingredient-input>
<div *ngIf="isLoading" class="loading">
  <p>Loading...</p>
</div>
<div class="row" *ngIf="data && data.totalNutrients">
  <div class="col-xs-12">
    <div class="list-container">
      <ul class="total-fat">
        <li class="total-fat" *ngIf="data.totalNutrients.FAT">
          <strong>Total Fat</strong>:
          {{ data.totalNutrients.FAT.quantity }} grams.
        </li>
        <li class="fats saturated" *ngIf="data.totalNutrients.FASAT">
          Saturated Fat: {{ data.totalNutrients.FASAT.quantity }} grams.
        </li>
        <li class="fats trans" *ngIf="data.totalNutrients.FAPU">
          Trans Fats: {{ data.totalNutrients.FAPU.quantity }} grams.
        </li>
        <li class="sodium" *ngIf="data.totalNutrients.NA">
          <strong>Sodium</strong>:
          {{ data.totalNutrients.NA.quantity }} miligrams.
        </li>
      </ul>
    </div>
  </div>
</div>
