.container {
  margin-top: 100px;
}

label {
  padding-left: 12px;
}

.btn.btn-success {
  margin-top: 5px;
}

.analyze {
  margin: 30px auto;
  padding-left: 12px;
}

.reset-btn {
  margin-left: 5px;
}

.btn.btn-primary {
  padding: 6px 25px 6px 25px;
}

.loading {
  font-weight: bold;
}

.list-container {
  width: 50%;
  display: flex;
}

ul {
  border: 3px solid gray;
  padding: 30px 30px;
  margin: 0 auto;
}

li {
  list-style: square;
}

.fats {
  list-style: circle;
  margin-left: 10px;
}
